<!--About me-->

<section id="sobre mi" class="about me">
    <div class="row">
      <div class="col-5">
        <img src="./assets/IMG/foto_perfil.jpg" class="w-100" alt="melindapinto foto">
      </div>
      <div class="col-6">
         <!-- Button trigger modal sobre mí -->
<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal-sobremi">
  <i class="fa-solid fa-pen-to-square"></i>
</button>

<!-- Modal sobre mí -->
<div class="modal fade" id="modal-sobremi" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar: Sobre mí</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="formFileSm" class="form-label">Foto de perfil</label>
          <input class="form-control form-control-sm" id="formFileSm" type="file">
        </div>
        <div class="form-floating">
          <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
          <label for="floatingTextarea2">Sobre mí</label>
        </div>
        <br>
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">Edad</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">Residencia</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">Email</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>
        <h2><strong>Sobre mí</strong></h2>
        <div class="divider"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum nemo impedit at est earum aspernatur laudantium illo eius alias? Rerum quae corporis nulla nihil minus iure cum, blanditiis sed ex?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum nemo impedit at est earum aspernatur laudantium illo eius alias? Rerum quae corporis nulla nihil minus iure cum, blanditiis sed ex?</p>
      <div class="fila">
        <div class="col">
          <h3>Datos Personales</h3>
          <ul>
            <li>
              <strong>Nombre:</strong>
              Melinda Noelia Pinto
            </li>
            <li>
              <strong class="color">Edad:</strong>
              30 años
            </li>
            <li>
              <strong>Residencia:</strong>
              Rafaela, Santa Fe, Argentina
            </li>
            <li>
              <strong>Email:</strong>
              melindapinto@gmail.com
            </li>
          </ul>
        </div>
        <button type="button cv" class="btn btn-light">Descargar CV</button>
      </div>
      </div>
      <div class="col-1"></div>
    </div>
  </section>
