<!--About me-->

<section id="sobre mi" class="aboutMe">
  <div class="container-fluid">
    <div class="row align-items-center" *ngFor="let datos of persona" >
      <div class="col-5">
        <img [src]="datos.perfil_img" class="w-100" alt="melindapinto foto">
      </div>
      <div class="col-md-6">
        <button *ngIf="modoEdit" type="button" class="btn btn-secondary" routerLink="editabout/{{datos.id}}" >
          <i class="fa-solid fa-pen-to-square"></i>
        </button>
        <h2><strong>Sobre mí</strong></h2>
        <div class="divider"></div>
        <p>{{datos.about}}</p>
      <div class="fila">
          <h3>Datos Personales</h3>
          <ul>
            <li>
              <strong>Nombre:</strong>
              {{datos.nombre}} {{datos.second_name}} {{datos.apellido}}
            </li>
            <li>
              <strong class="color">Edad:</strong>
              {{datos.edad}} años
            </li>
            <li>
              <strong>Residencia:</strong>
              {{datos.residencia}}
            </li>
            <li>
              <strong>Email:</strong>
              {{datos.email}}
            </li>
          </ul>
        </div>
        <a class="btn btn-light" href={{datos.cv}} download="curriculum_Melinda_Pinto.pdf">Descargar CV</a>
      </div>
      </div>
      <div class="col-1"></div>
    </div>
  </section>
