<!--Educacion-->
<section id="educacion" class="educacion">
    <div class="edu">
      <h2><strong>Educación <app-add-edu *ngIf="modoEdit"></app-add-edu></strong></h2>
      <div class="divider"></div>
    </div>
    <div class="container text-center">
       <div class="row" *ngFor="let educacion of estudio">
        <div class="col-2">
        </div>
        <div class="col-2"><img [src]="educacion.logo " class="w-75 imglogo" alt="allegro"></div>
        <div class="col-7"><h4>{{educacion.institucion}}</h4>
          <button type="submit" class="btn btn-secondary" (click)="eliminar(educacion.id)" *ngIf="modoEdit" ><i class="fa-solid fa-trash-can"></i></button><button *ngIf="modoEdit" type="button" class="btn btn-secondary" routerLink="editedu/{{educacion.id}}">
             <i class="fa-solid fa-pen-to-square"></i>
           </button>
          <ul>
            <li>{{educacion.titulo}}</li>
          </ul><br><br>
        </div>
        <div class="col-1"></div>
      </div> 
      </div>

