.imglogo{
    min-width: 5em;
    margin-left: -3em;
}
    
.col-md-7{
    margin-top: 0;
    text-align: left;
}

@media screen and (orientation: portrait){
    .col-md-7{
        margin-top: 1em;
        
    }
}

