/*experiencia*/
.experiencia{
    color: white;
    padding: 3.5em;
}

.experiencia h2{
    font-size: 2.5em;
}
.imglogo{
    min-width: 5em;
    margin-left: -4em;
}

.col-md-7{
    margin-top: 0;
    text-align: left;  
}


.modal-title{
    color: black
}

@media screen and (orientation: portrait){
    .experiencia-laboral{
        margin-left: -1em;
    }

    .lista{
        margin-left: -3em;
        text-align: left;
    }

    .col-md-7{
        margin-top: 1em;
        text-align: left;  
    }
}
