<!--Experiencia-->

<section id="experiencia" class="experiencia">
  <div class="experiencia laboral">
    <h2><strong>Experiencia Laboral</strong></h2>
    <div class="divider"></div>
  </div>
  <div class="container text-center">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-2"><img src="./assets/IMG/uap.png" class="w-100" alt="uap"></div>
      <div class="col-7"><h4><strong>Universidad Adventista del Plata</strong></h4>(2015-2019)
        <ul>
          <li>Profesora de música - Escuela Domingo Faustino Sarmiento N°104</li>
          <li>Profesora Adjunta de Práctica Docente I - Instituto Adventista del Plata D-4</li>
          <li>Profesora de Piano - Academia de música de la Universidad Adventista del Plata</li>
        </ul>
       
      </div>
      <div class="col-1"></div>
    </div><br>

    <div class="row">
      <div class="col-2"></div>
      <div class="col-2"><img src="./assets/IMG/justallegro_Mesa de trabajo 1 copia 6.jpg" class="w-100" alt="allegro"></div>
      <div class="col-7"> <h4><strong>Freelancer</strong></h4> - Profesora de Piano (2019-presente)</div>
      <div class="col-1"></div>
    </div> 
