 <!-- Button trigger modal Educación-->
 <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#Educación">
    <i class="fa-solid fa-square-plus"></i>
  </button>
  <!-- Modal experiencia laboral -->
  <div class="modal fade" id="Educación" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar nuevo estudio</h5>
          <h6><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="limpiar()"></button></h6>
        </div>
        <form [formGroup]="form"  (ngSubmit)="onEnviar($event)">
          <div class="modal-body">
            <div class="mb-3">
              <label for="logo-url" class="form-label"><h6>URL del logo</h6></label>
              <input type="text" class="form-control" formControlName="logo" [(ngModel)]="logo"  id="logo-url" aria-describedby="basic-addon3">
            </div>
            <div class="input-group input-group-sm mb-3">
              <span class="input-group-text" id="inputGroup-sizing-sm">Nombre de la Institución</span>
              <input type="text" formControlName="institucion" [class.border-danger]="InstitucionValid" [(ngModel)]="institucion" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div *ngIf="Institucion?.errors  && Institucion?.touched">    
              <h6 *ngIf="Institucion?.hasError('required')" class="error">
                  El Nombre de la institucion es requerido.
              </h6>
            </div>
            <div class="input-group input-group-sm mb-3">
              <span class="input-group-text" id="inputGroup-sizing-sm">Título/Certificado</span>
              <input type="text" formControlName="titulo" [class.border-danger]="TituloValid" [(ngModel)]="titulo" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div *ngIf="Titulo?.errors  && Titulo?.touched">    
              <h6 *ngIf="Titulo?.hasError('required')" class="error">
                  El título/certificado es requerido.
              </h6>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="limpiar()">Cerrar</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar cambios</button>
          </div>
        </form>
        
      </div>
    </div>
  </div>