
<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
      <img src="./assets/IMG/APLogo-20-20.png" alt="Logo" width="100" height="64" class="d-inline-block align-text-top">
    </a>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <div class="navbar-nav me-auto">
            <div class="nav-item dropdown">
              <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Ir a
              </a>
              <div class="dropdown-menu dropdown-menu-dark"*ngFor="let red of red">
                <a><h6 class="dropdown-header" *ngIf="modoEdit">Editar Redes</h6></a>
                  <a class="dropdown-item" routerLink="addred" *ngIf="modoEdit">Agregar</a>
                  <a class="dropdown-item" routerLink="editred/{{red.id}}" *ngIf="modoEdit">Editar redes existentes</a>
                <hr class="dropdown-divider">
                <a class="dropdown-item" href= "/#sobre mi">Sobre Mí</a>
                <a class="dropdown-item" href="/#experiencia">Experiencia Laboral</a>
                <a class="dropdown-item" href="/#educacion">Educación</a>
                <a class="dropdown-item" href="/#habilidades">Habilidades</a>
                <a class="dropdown-item" href="/#proyectos">Proyectos</a>
              </div>
            </div>
          </div>
          <div class="navbar-nav d-inline-flex p-2" *ngFor="let contacto of red">
              <a class="nav-link" href={{contacto.url}} target="_blank"><i class={{contacto.icono}}></i></a>
          </div> 
      </div>
  
      <button *ngIf="!modoEdit" type="button" class="btn btn-outline-light" routerLink="login">
          Login
          </button>
        <button *ngIf="modoEdit" type="button" class="btn btn-outline-light" (click)="cerrarSesion()">
          Logout 
      </button>
    </div>
  
</nav>