.list-group{
    --bs-list-group-bg: transparent;
    --bs-list-group-color: #f8f9fa
}


i.fa-brands.fa-linkedin.fa-xl:hover,
i.fa-brands.fa-github.fa-xl:hover,
i.fa-solid.fa-envelope.fa-xl:hover{
    color: rgb(177, 173, 176);
}