     <!--Banner-->
<div class="banner" *ngFor="let fondo of banner" [ngStyle]="{background: 'url('+fondo.foto+')'}">
  <div  class="capa">
    <button *ngIf="modoEdit" type="button" class="btn btn-secondary" routerLink="editbanner/{{fondo.id}}">
      <i class="fa-solid fa-pen-to-square"></i>
    </button>
    <div class="contenido" *ngFor="let datos of banner">
      <h1>Bienvenidos a mi Portfolio Web</h1>
      <h2 id="nombre">Soy <strong>{{datos.nombre}}</strong></h2>
      <h4>{{datos.titulo}}</h4>
    </div>
  </div>
</div>

 
  

