<!-- Modal login -->
<!-- Modal -->


<form [formGroup]="form"  (ngSubmit)="onEnviar($event)" class="bg-white rounded p-5">
  <div class="modal-content">
  <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Login</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <form [formGroup]="form"  (ngSubmit)="onEnviar($event)">
      <div class="modal-body">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Dirección de email</label>
            <input type="email" formControlName="email" [(ngModel)]="persona.email" [ngClass]="{'is-invalid': Email.errors && Email.touched, 'is-valid': !Email.errors && Email.touched}" class="form-control" id="exampleInputEmail1" value="" aria-describedby="emailHelp">
          </div>
          <div *ngIf="Email?.errors  && Email?.touched">    
            <p *ngIf="Email?.hasError('required')" class="error">
                El email es requerido.
            </p>
            <p *ngIf="Email?.hasError('email')" class="error">
                El formato del email debe ser válido.
              </p>
        </div>

          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
            <input type="password" formControlName="clave" [(ngModel)]="persona.clave" [ngClass]="{'is-invalid': Clave.errors && Clave.touched, 'is-valid': !Clave.errors && Clave.touched}" class="form-control" id="exampleInputPassword1">
          </div>
          <div *ngIf="Clave?.errors  && Clave?.touched">
            <p *ngIf="Clave?.hasError('required')" class="error">
              La clave es requerida.
            </p>
            <p *ngIf="Clave?.errors?.['minlength']
        " class="error">
              La clave debe ser de 6 o más caracteres.
            </p>
          </div>
          <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal"><a>Login</a></button>
        </div>

      </form>
  
