
  
  <!-- Editar experiencia laboral -->
  <form [formGroup]="form"  (ngSubmit)="onEnviar($event)" class="bg-white rounded p-5">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Editar empleo</h5>
          <h6><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></h6>
        </div>

        <div class="modal-body">
          <input type="hidden" formControlName="id" [ngModel]="experiencia.id">
          <div class="mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">Url del logo</span>
            <input type="text" class="form-control"[ngModel]="experiencia.logo" formControlName="logo" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
          </div>

          <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">Empresa</span>
            <input type="text" class="form-control" [ngModel]="experiencia.institucion" formControlName="institucion" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
          </div>

          <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">Periodo de trabajo</span>
            <input type="text" class="form-control" [ngModel]="experiencia.periodo" formControlName="periodo" placeholder="Ej: año - año" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
          </div>

          <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">Puesto</span>
            <input type="text" class="form-control" [ngModel]="experiencia.puesto" formControlName="puesto" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar cambios</button>
        </div>
      </div>
      </form>